#main {
    border: 1px solid black;
    width: 700px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.register {
    display: block;
    margin-left: auto;
}

.register_text {
    border-radius: 5px;
    display: block;
    width: 200px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    text-align: center;
}