/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "ChangaOne";
  src: url("../fonts/ChangaOne.ttf") format("truetype"); }

.header {
  width: 100%;
  height: 80px;
  background: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  font-family: "ChangaOne";
  color: rgba(0, 4, 250, 0.76); }
  .header-title {
    font-size: 38px;
    padding: 0.5em; }
  .header-nav {
    padding: 0.5em; }
  .header-menu {
    display: flex; }
    .header-menu .menu-item {
      padding: 1em; }
    .header-menu .menu-link {
      font-size: 28px;
      cursor: pointer;
      color: inherit; }
      .header-menu .menu-link:hover {
        color: #fd0101;
        transition: 0.3s; }
  .header.float-active {
    background: #1f1f1f;
    color: #fff; }

@font-face {
  font-family: "ChangaOne";
  src: url("../fonts/ChangaOne.ttf") format("truetype"); }

.hero {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-title {
    font-size: 50px;
    font-weight: bold;
    color: #272727;
    text-shadow: 4px 2px 2px #e7e7e7; }

@font-face {
  font-family: "ChangaOne";
  src: url("../fonts/ChangaOne.ttf") format("truetype"); }

.container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.5em;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .container-body {
    font-size: 20px;
    height: 100%; }
  .container-title {
    width: 75%;
    font-size: 38px;
    text-align: center;
    font-family: "ChangaOne";
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; }
  .container-ornament .container-title span {
    display: inline-block;
    background: white;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .container-ornament .container-title:before, .container-ornament .container-title:after {
    border-top: 1px solid #2e1f1a;
    content: "";
    display: block;
    position: relative;
    z-index: 0; }
  .container-ornament .container-title:before {
    top: 16px; }
  .container-ornament .container-title:after {
    top: -16px; }

@font-face {
  font-family: "ChangaOne";
  src: url("../fonts/ChangaOne.ttf") format("truetype"); }

.news {
  width: 60%;
  height: 5em;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
  padding: 1em;
  margin-top: 1em; }
  .news-item {
    margin-bottom: 0.5em; }
  .news-date {
    margin-right: 0.5em;
    font-size: 20px;
    color: #e37b89;
    font-family: "Meiryo"; }
  .news-link {
    transition: 0.3s; }
    .news-link:hover {
      color: #ff640b;
      transition: 0.3s; }
  .news-title {
    font-size: 20px;
    font-family: "Meiryo";
    cursor: pointer; }

@font-face {
  font-family: "ChangaOne";
  src: url("../fonts/ChangaOne.ttf") format("truetype"); }

.hamburger {
  height: 5%;
  cursor: pointer;
  transition: all 0.7s ease;
  width: 50px; }

.search {
  height: 95%;
  display: inline-block;
  width: 20%;
  background: linear-gradient(rgba(2, 251, 255, 0.87), rgba(248, 0, 145, 0.637)); }
  .search-form {
    display: block; }
    .search-form-label {
      width: 100%;
      display: block; }

.search-result {
  width: 70%;
  display: inline-block; }
