- 
  var textbox = [
                {placeholder:'TITLE',id:'title',name:'タイトル'},
                {placeholder:'AUTHOR',id:'author',name:'著者'},
                {placeholder:'ISBN',id:'isbn',name:'ISBN'},
              ]

section#menu-search.search-container
  a.menu-trigger.active#menu-trigger
    span
    span
    span
  section#search-area.search
        #search-form.search-form
          each item in textbox
              label(for=item['id']).search-form-label #{item.name}
              input(type="text",placeholder=item['placeholder'],id=item['id']).search-form-text
          .btn-group
            button.btn.btn_register#register 
              i.fas.fa-pencil-alt
              i.btn-name Register
            button.btn.btn_search#search 
              i.fas.fa-search
              i.btn-name Search
  section#search_result.search-result